body{
    height: 100%;
    width: 100%;
    background-image: url("images/trianglify.png");
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    
}
.nav{
    text-align: center;
    align-content: center;
    background:none;
}


#map{
    border: black 2px solid;
    height: 500px;
    border-radius: 10px;
    background: url("images/GoogleMapTA.jpg");

    
}
#list{
    border: black 2px solid;
    height: 500px;
    background: rgba(255, 255, 255, 0.377);
    padding: 0px;
    text-align: center;
    border-radius: 10px;
}

.nav-item{
    color: black;
    font-family: 'Syncopate', sans-serif;
    padding: 5px;
    position: relative;
}
.nav-item:hover{
    color: orange;
}
.top{
    color: black;
    font-family: 'Glegoo', serif;
    padding: 2px;
}
.top:hover{
    color: orangered;
}

.modal-title{
    font-family: 'Syncopate', sans-serif;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 10px;

}
.modal-content{
    height: 400px;;
    width: 100%;
    background-image: url(images/Background.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat
}
.modal-header,.modal-body, .modal-footer{
    padding:0px;
    border-top: none;
    
}
.btn{
    background-color:orangered;
}
.btn:hover{
    background-color: black
}
.modal-body{
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 2
}
.col-md-3{
    text-align: center;
    height: 60px;
    font-size: 20px;

}
#about{
    background-color: white;
}
#about:hover{
    background-color: rgb(220, 220, 236)

}
/*======================*/
#theBand{
    background-color: rgb(240, 240, 248);
    line-height: 25px;
}
#theBand:hover{
    background-color: rgb(230, 230, 241)

}
/*====================*/

#login{
    background-color: rgb(230, 230, 241)
}
#login:hover{
    background-color: rgb(240, 240, 248);

}

/*====================*/
#contact{
    background-color: rgb(220, 220, 236)
}
#contact:hover{
    background-color: white;
}

footer{
    background: rgba(255, 255, 255, 0.377);

}